@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 offset-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Description</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
